.nav 
{
    background-color: rgb(32, 32, 32);
}


a {
   
    margin-left: 200px;
    
}


.contact {
    margin-right: 200px;
    
    
}

img {
    width: 370px;
    height: 370px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.des {
    font-size: small;
}

.card-group {
    
    justify-content: center;
}

.container {
    width: 50%;
    justify-content: center;
    
}


.prev {
    border-color: deepskyblue;
    border-radius: 5px;
    margin-left: 50px;
}


.site {
    margin-right: 50px;
    border-radius: 5px;
}



.game {
    margin-top: 320px;
    
}




