.nav 
{
    background-color: rgb(32, 32, 32);
}


a {
   
    margin-left: 100px;
    
}


.contact {
    margin-right: 100px;
    
    
}

img {
    width: 370px;
    height: 370px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.des {
    font-size: small;
}